{
  "policies": {
    "ExtensionSettings": {
      "*": {
        "install_sources": ["https://addons.mozilla.org/"],
        "installation_mode": "blocked",
        "allowed_types": ["extension"]
      },
{% if firefox_extensions %}
{% for extension in firefox_extensions %}
      "{{ extension.id }}": {
        "installation_mode": "{{ extension.mode }}",
        "install_url": "{{ extension.url }}"
      },
{% endfor %}
{% endif %}
      "*": {
        "installation_mode": "allowed",
        "install_sources": ["https://addons.mozilla.org/"],
        "allowed_types": ["dictionary", "langpack"]
      }
    },
    "ExtensionUpdate": true,
    "InstallAddonsPermission": {
      "Allow": ["https://addons.mozilla.org"],
      "Default": true
    }
  }
}
